.HomeAbout
    // padding-top: 5rem

    height: 100vh

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    color: white

    // background: linear-gradient(to top right, #000, #0e1111, #6100a7, #0000a7)
    background: linear-gradient(to bottom right, #000, #3b444b)

    // border: 2px solid blue
    position: relative

    &__ImageCont
        position: absolute
        left: 32rem
        height: 100vh
        width: 26vw

        // border: solid 2px red

        &_Image
            height: 100%
            width: 100%
            object-fit: cover
            filter: brightness(60%)
            // display: none

    &__content 
        z-index: 1
        height: 60vh
        width: 86%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        margin-bottom: 8rem
        
        // border: solid 2px orange

        &__legend
            // height: 100%
            // width: 100px

            text-align: center
            display: flex
            // justify-content: center
            padding-top: 1rem
            font-size: 1.6rem
            color: grey
            // width: 20vw


        &_description
            width: 46vw
            height: 100%
            // border: 1px solid brown

            // margin: 3rem
            display: flex
            justify-content: space-between
            flex-direction: column


            &_titleSection 
                // border: 1px solid purple
            
            h1 
                // text-align: center
                font-size: 5rem
                display: inline-block
                border-bottom: 2px solid white

            h3
                font-size: 2rem
                font-weight: normal
    
            
            &_message
                width: auto

                // border: solid 1px blue
                font-size: 1.8rem
                // width: 65vw

                &_p
                    font-size: 1.6rem
                    font-weight: normal
                    text-indent: 2rem
                    margin-top: 1.6rem




@media (max-width: 450px) 
    .HomeAbout 
        &__introduction
            &_title_section 
                width: auto
                text-align: center
            &_description 
                justify-content: center
                &_message1
                    display: none
                &_message2
                    width: 80vw
    
