.Welcome 
  height: 100vh
  width: inherit

  display: flex
  align-items: center
  justify-content: center

  &__message
    color: white
    filter: drop-shadow(2px 4px 6px black)
    display: block
    font-family: monospace
    white-space: nowrap
    display: flex


.Welcome > img
    z-index: -1
    filter: brightness(60%) 

    position: fixed

    height: 100%
    width: 100%

    object-fit: cover

.Welcome__message > h1
    margin-bottom: 32vh
    position: relative
    font-size: 7rem
    border-right: 4px solid
    width: 11ch
    overflow: hidden
    animation: typing 2s steps(11), blink .5s infinite step-end alternate



@keyframes typing
    from 
        width: 0

@keyframes blink 
    50%  
        border-color: transparent 


@media (min-width:900px) 
    .Welcome
        &__message h1 
            font-size: 7rem

@media (max-width:500px) 
    .Welcome
        &__message h1 
            font-size: 5rem
